<div class="col-md-8 col-md-offset-2"> 
    <a [routerLink]="['/home']" class="btn-link"><<Back</a>
    <h3>Your history</h3>
    <p>All what you did before</p>

    <p *ngIf="!urls"><em>Loading...</em></p>

    <table class='table table-hover' *ngIf="urls">
        <thead>
            <tr>
                <th>Original Url</th>
                <th>Short Url</th>
                <th>Created</th>
                <th>All clicks</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let url of urls">
                <td><a href={{url.url}}>{{ url.url }}</a></td>
                <td>
                    <a href="{{ url.shortUrlSuffix | concat}}">{{ url.shortUrlSuffix | concat}}</a>
                </td>
                <td>{{ url.createDate | date:getDateFormat(url.createDate) }}</td> 
                <td>{{ url.navigationsCount }}</td>
            </tr>
        </tbody>
    </table>
</div>